<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Portafolio GQG</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../static/css/normalize.css" />
		<link rel="stylesheet" href="../static/css/estilos.css" />
	</head>
	<body>
		<header id="yo" class="Header">
			<nav class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#yo">Yo</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#perfil">Perfil</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#trabajo">Trabajo</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#contacto">Contacto</a>
					</li>
				</ul>		
			</nav>
			<figure class="Header-imageContainer">
				<img src="avatar.jpg" alt="Imagen Personal" class="Header-image"/>
				<figcaption class="Header-imageDescription">
					<a class="Heder-link" href="http://twitter.com/GiancarloQG" target="_black">@Giancarlo Quispe</a>
					<p class="Header-name">Giancarlo Quispe</p>
				</figcaption>
			</figure>
		</header>
		<section id="perfil" class="Profile">
			<h2 class="Profile-title u-title">Mi Perfil</h2>
			<p class="Profile-description">Hola! Si llegaste hasta aquí puedes ver mi portafolio y contactarme</p>
			<a class="Profile-link" href="http://twitter.com/GiancarloQG" target="blank_">@GiancarloQG</a>
			<a class="Profile-link" href="http://facebook.com/giancarlo1207" target="blank_">Giancarlo Quispe</a>
			<a class="Profile-link" href="http://github.com/GiancarloQG" target="blank_">Giancarlo Quispe</a>
		</section>
		<section id="trabajo" class="Work">
			<h2 class="Work-title u-title">Mi trabajo</h2>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="mejorandola.jpg" alt="Es la descripción de mi Imagen" />
					<figcaption class="work-description">Website de mejorando.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="mejorandola.jpg" alt="Es la descripción de mi Imagen" />
					<figcaption class="work-description">Website de mejorando.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="mejorandola.jpg" alt="Es la descripción de mi Imagen" />
					<figcaption class="work-description">Website de mejorando.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="mejorandola.jpg" alt="Es la descripción de mi Imagen" />
					<figcaption class="work-description">Website de mejorando.la</figcaption>
				</figure>
			</article>
		</section>
		<footer id="contacto" class="Footer">
			<h3 class="Footer-title">Contacto</h3>
			<p class="Footer-description">Si tienes una sugerencia o quieres trabajar conmigo ponte en contacto con este formulario</p>
			<form class="Footer-form">
				<input class="footer-formInput" type="text" placeholder="Nombre"/>
				<input class="footer-formInput" type="email" placeholder="Email"/>
				<textarea class="footer-textarea" placeholder="Motivo"></textarea>
				<button class="footer-button" type="submit">Contáctame</button>
			</form>
		</footer>	
	</body>	
</html>